<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'jums/stylesheet.css' %}">
{% if messages %}
{% for message in messages %}
<li>{{message}}{% endfor %}
{% endif %}
<head>
    <body>
        <form action="forgot_password_1" method='POST'>
        {% csrf_token %}

            <p>We are verifying your credentials </p>
            <p>Verify your email id:<input type="text" placeholder="email" name="email"></p>
            <p>Verify your phone number:<input type="text" placeholder="phone" name="phone"></p>
            <p>Verify your roll number:<input type="text" placeholder="roll" name="username"></p>
            <p>Enter password:<input type="password" placeholder="password1" name="password1"></p>
            <p>Confirm password:<input type="password" placeholder="password2" name="password2"></p>
            <input type ="submit" value="Reset Password">
        </form>
    </body>
<head>